.header-profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003369;
    color: #fff;
    padding: 0px 10px;
    border-radius: 100%;
    width: 45px;
    height: 45px;
}

.header-profiles-home {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #003369;
    color: #fff;
    padding: 0px 10px;
    border-radius: 100%;
    width: 65px;
    height: 65px;
}

.table-icon {
    padding: 5px;
    font-size: 14px;
    background: #003369;
    color: #fff;
    border-radius: 5px;
}